<div class="card-content">
      <span class="card-title blue-text"><i class="fa fa-child"></i> Your security checks <a href="#modal-checks" class="modal-trigger"><i class="material-icons">help</i></a></span>
      <p>
        Security check requirements are different in each region. Find out more <a href="#modal-checks" class="modal-trigger">here</a>.
      </p>
      <p><% if @profile.user.security_checks.present? %><%# instead of .any?%>
        <table>
          <thead><tr>
            <th>Type</th>
            <th>State</th>
            <th>Expires</th>
            <th>Number</th>
            <th class="right-align">Verified</th>
            </tr>
          </thead>
        <% @profile.user.security_checks.each do |check| %>
          <tr>
            <td><%= check.name %></td>
            <td><%= check.state %></td>
            <% if check.expiry_date.present? %>
              <td><%= check.expiry_date %></td>
            <% end %>
            <td> <%= check.number %></td>
            <td class="right-align">
              <% if check.verified %>
                <span class="green-text"><i class="fa fa-check-circle"></i></span>
              <% else %>
                <span class="bold purple-text">Pending</span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </table>
      <% else %>
        <div class="purple-text">No security checks listed.</div>
      <% end %></p>
    </div>
    <div class="card-action">
      <a href="/security_checks/new" class="waves-effect waves-light btn white-text">Add a security check</a>
    </div>
