<h4>CODE OF CONDUCT</h4>


<p>Permanent, casual and temporary employees working in Australian schools are required to conform to the school’s Code of Conduct. MOBEEAS mentors must source and familiarise themselves with the relevant authority’s Code of Conduct before undertaking work during a MOBEEAS opportunity. Links are provided for Australian government schools. Catholic and Independent School Codes of Conduct are school specific and can be found via the internet.</p>


<p><strong>AUSTRALIAN EDUCATORS PROFESSIONAL CONDUCT ALL STATES and TERRITORIES</strong></p>
<a target="_blank" href="http://www.aussieeducator.org.au/education/other/dutyofcare.html">http://www.aussieeducator.org.au/education/other/dutyofcare.html</a>

<p><strong>Australian Capital Territory</strong></p>
<a target="_blank" href="http://www.det.act.gov.au/employment/professional_conduct">http://www.det.act.gov.au/employment/professional_conduct</a>

<p><strong>New South Wales</strong></p>
<a target="_blank" href="http://www.dec.nsw.gov.au/about-us/code-of-conduct">http://www.dec.nsw.gov.au/about-us/code-of-conduct</a>

<p><strong>Northern Territory</strong></p>
<a target="_blank" href="http://www.education.nt.gov.au/about-us/policies/documents/schools/school-management/code-of-conduct">http://www.education.nt.gov.au/about-us/policies/documents/schools/school-management/code-of-conduct</a>

<p><strong>Queensland</strong></p>
<a target="_blank" href="http://education.qld.gov.au/corporate/codeofconduct/pdfs/det-code-of-conduct-standard-of-practice.pdf">http://education.qld.gov.au/corporate/codeofconduct/pdfs/det-code-of-conduct-standard-of-practice.pdf</a>

<p><strong>South Australia</strong></p>
<a target="_blank" href="http://www.trb.sa.edu.au/code-of-ethics">http://www.trb.sa.edu.au/code-of-ethics</a>

<p><strong>Tasmania</strong></p>
<a target="_blank" href="https://www.trb.tas.gov.au/Shared%20Documents/Code%20of%20Professional%20Ethics%20for%20the%20Teaching%20Professional%20in%20Tasmania.pdf">https://www.trb.tas.gov.au/Shared%20Documents/Code%20of%20Professional%20Ethics%20for%20the%20Teaching%20Professional%20in%20Tasmania.pdf</a>

<p><strong>Victoria</strong></p>
<a target="_blank" href="http://www.vit.vic.edu.au/media/documents/imported-files/spl/Code-of-Conduct-2015.pdf">http://www.vit.vic.edu.au/media/documents/imported-files/spl/Code-of-Conduct-2015.pdf</a>

<p><strong>Western Australia</strong></p>
<a target="_blank" href="http://det.wa.edu.au/policies/detcms/policy-planning-and-accountability/policies-framework/guidelines/code-of-conduct1.en?cat-id=3457094">http://det.wa.edu.au/policies/detcms/policy-planning-and-accountability/policies-framework/guidelines/code-of-conduct1.en?cat-id=3457094</a>
