<h2>MOBEEAS Statement of Ethics</h2>

<p class="flow-text">The MOBEEAS Statement of Ethics is based on the NSW Department of Education and Communities commitment to improving the social and economic well-being of the people of Australia through the provision of high quality educational services to the community. Their Statement of Ethics is below.</p>

<p>The values that underpin our work include fairness, respect, integrity and responsibility.</p>
<p>We demonstrate these values in our daily work by:</p>
<ul class="fa-ul">
  <li><i class="fa-li fa fa-arrow-circle-right"></i>providing quality services whether in the community or the classroom</li>
  <li><i class="fa-li fa fa-arrow-circle-right"></i>
being consistently honest, trustworthy and accountable</li>
  <li><i class="fa-li fa fa-arrow-circle-right"></i>
being courteous and responsive in dealing with others</li>
  <li><i class="fa-li fa fa-arrow-circle-right"></i>
being committed to social justice by opposing prejudice, injustice and dishonesty</li>
  <li><i class="fa-li fa fa-arrow-circle-right"></i>
making decisions that are procedurally fair to people and which avoid discrimination, for example, on grounds such as gender, race, religion and culture</li>
  <li><i class="fa-li fa fa-arrow-circle-right"></i>
promoting dignity and respect by avoiding behaviour which is, or might reasonably be perceived as, harassing, bullying or intimidating</li>
  <li><i class="fa-li fa fa-arrow-circle-right"></i>
maintaining professional relationships with:<ul class="fa-ul">
  <li><i class="fa-li fa fa-arrow-circle-right"></i>
clients, customers and members of the public</li>
  <li><i class="fa-li fa fa-arrow-circle-right"></i>
students and young people</li>
  <li><i class="fa-li fa fa-arrow-circle-right"></i>
parents and carers</li>
  <li><i class="fa-li fa fa-arrow-circle-right"></i>
colleagues, and</li>
  <li><i class="fa-li fa fa-arrow-circle-right"></i>
business partners</li>
</ul>
  <li><i class="fa-li fa fa-arrow-circle-right"></i>
working collaboratively with colleagues to reach our common goals</li>
  <li><i class="fa-li fa fa-arrow-circle-right"></i>
maintaining and developing our professional and work practices</li>
  <li><i class="fa-li fa fa-arrow-circle-right"></i>
acknowledging our stakeholders as partners in our work, and</li>
  <li><i class="fa-li fa fa-arrow-circle-right"></i>
behaving in ways that advance vibrant, sustainable, inclusive and responsible communities across Australia.</li>
</ul>

<p>I agree to act in accordance with this Statement of Ethics</p>

<p><a href="http://www.dec.nsw.gov.au/detresources/Statement_of_ethics_quKTrSlDoN.pdf" target="_blank" title="Source document">Source</a></p>