<h5>CANDIDATE TERMS & CONDITIONS</h5>

<%# <iframe style="width: 100%; height: 550px;" src="https://docs.google.com/document/d/1kdUBLhdTlCrkH7IsO3tHv-dRblWIZhWGjZHMLpMvRFo/pub?embedded=true"></iframe> %>
<%= cl_image_tag("candidate-agreement-29-jan-2016.png", :width => '100%') %>
