<h3>CANDIDATE TERMS & CONDITIONS</h3>

<%# <iframe style="width: 100%; height: 550px;" src="https://docs.google.com/document/d/1kdUBLhdTlCrkH7IsO3tHv-dRblWIZhWGjZHMLpMvRFo/pub?embedded=true"></iframe> %>
<%= cl_image_tag("MOBEEAS_Candidate_Agreement_23_Dec_2015.png", :width => '100%') %>
