<h5>Welcome!</h5>
<p>
  In order to register as a MOBEEAS candidate, please complete each section of your profile.
<p>
<p>
  You'll need a referee to confirm your abilities, so add your skills then click on "Verify your skills" and fill in the template provided.
</p>
<p>
  Your competence level in each skill will be shown when your referee has sent verification through.
</p>

<p>
  A MOBEEAS representative will verify any educational achievements you add along with your mandatory Working With Children and Police Security checks.
</p>
<p>
  Once your registration has been approved you’ll be able to view and apply for opportunities listed on the MOBEEAS web site.
</p>
<p>
  If you need any assistance, send a quick message to info@mobeeas.com.
</p>

<p><br>
  Thank you for joining the MOBEEAS community!
</p>

<%= cl_image_tag("infographic_test.png", :width=>"100%") %>
