<h5>Welcome!</h5>
<p>
  In order to register as a MOBEEAS candidate, please complete each section of your profile.
</p>
<p>
  You'll need a referee to confirm your abilities, so add your skills then click on "Verify your skills" and fill in the template provided.
</p>
<p>
  Confirmation of your registration will be sent to your email address once the information you provide has been verified.
</p>
<p>
  When your registration is confirmed you'll also receive all the information you'll need to view and apply for advertised MOBEEAS opportunities.
</p>
<p>
  If you need any assistance, send a quick message to info@mobeeas.com.
</p>
<p>
  Thank you for joining the MOBEEAS team!
</p>
