<h1>Skill Verification Submitted</h1>

<p>
  A Skill Verification form has been submitted.
  <br>
  Candidate Name : <%= @skill_verification.user.profile.name %>
  <br>
  Skill Verification id: <%= @skill_verification.id %>
</p>

<p><%= link_to "Please approve the verification here", edit_skill_verification_url(@skill_verification.id) %></p>
