<h4>Your skills have been verified by MOBEEAS Admin</h4>

<p>
  Hello <%= @skill_verification.user.profile.name %>,
  <br><br>
  Your skills below has been verified and approved by MOBEEAS Administrator:
  <ol>
    <% @skill_verification.candidate_skills.each do |candidate_skill| %>
      <li><%= candidate_skill.skill.name %></li>
    <% end %>
  </ol>
  <br>
  Please login to <a href="http://mobeeas.com">MOBEEAS</a> to view your profile.
  <br><br>
  Regards,
  <br>
  MOBEEAS Team

</p>
