<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @achievement_level.name %>
</p>

<%= link_to 'Edit', edit_achievement_level_path(@achievement_level) %> |
<%= link_to 'Back', achievement_levels_path %>
