<!-- Modal Trigger -->
<a class="modal-trigger" href="#contact-host">Contact <%= @host.org_user_profile.first_name %></a>

<!-- Modal Structure -->
<div id="contact-host" class="modal">
  <div class="modal-content">
    <h4>Contact <%= @host.org_user_profile.first_name %></h4>
    <p>
      By clicking I AGREE the details about your email address will be sent to this person to initiate correspondence.
      A copy of this message will be sent to you.
    </p>
  </div>
  <div class="modal-footer">
    <%= link_to "I Agree ", contact_host_of_organisation_path(@organisation, receiver_id: @host.id, sender_id: current_user.id), class: "modal-action modal-close waves-effect waves-green btn-flat" %>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
  </div>
</div><!-- End of Modal Structure -->
