Please purchase subscription here:
<br>
  <% @six_months_subscription_pack = SubscriptionPack.find_by(name: 'organisation_6_months') %>
  <% @twelve_months_subscription_pack = SubscriptionPack.find_by(name: 'organisation_12_months') %>
  <% if @organisation.subscriptions.present? %><%# if this org has previous subscription, renew it %>
    <div class="margin-top-20px">
      <%= link_to "Renew 6-month Subscription", new_subscription_path(org: @organisation.id, subscription_pack: @six_months_subscription_pack), class: 'btn'%>
    </div>
    <div class="margin-top-20px">
      <%= link_to "Renew Annual Subscription", new_subscription_path(org: @organisation.id, subscription_pack: @twelve_months_subscription_pack.id), class: 'btn' %>
    </div>
  <% else %><%# if this org doesn't have previous subscription (brand new), buy a new subscription %>
    <div class="margin-top-20px">
      <%= link_to "New 6-month Subscription", new_subscription_path(org: @organisation.id, subscription_pack: @six_months_subscription_pack), class: 'btn'%>
    </div>
    <div class="margin-top-20px">
      <%= link_to "New Annual Subscription", new_subscription_path(org: @organisation.id, subscription_pack: @twelve_months_subscription_pack.id), class: 'btn' %>
    </div>
  <% end %>
</div>
