<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col s12 m10 offset-m1 l10 offset-l1">
    <div class="card">

    </div>
  </div>
</div>



<p id="notice"><%= notice %></p>

<div class="row">
  <!-- PROFILE -->
  <div class="col m4">
    <div class="card">
      <%= render 'organisations/org_profile' %>
    </div>
  </div>

<!-- RIGHT COLUMN -->
  <div class="col m8">
    <!-- WELCOME BUTTON-->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal-welcome"><i class="material-icons left">speaker_notes</i>Getting Started</a>
      <div id="modal-welcome" class="modal">
        <div class="modal-content">

        </div>
      </div>

  <!-- AGREEMENTS -->
  <div class="card">
    <h5>Organisation Users Profiles</h5>
    <!-- <a href="/org_user_profiles/new">I would like to apply for becoming the ADMIN HOST of this organisation</a> -->
    <%#= link_to "I would like to apply for becoming the ADMIN HOST of this organisation", org_user_profiles_path(org_id: @organisation.id)%>

  </div>
  <!-- SKILLS -->
    <div class="card">
      <p>some info here2</p>
    </div>
    <!-- EDUCATION -->
    <div class="card">
      <p>some info here3</p>
    </div>
    <!-- SECURITY CHECKS -->
    <div class="card">
      <p>some info here4</p>
    </div>
  </div>
</div>
