<h1>Welcome to MOBEEAS</h1>

<p>
  Thank you for registering as a MOBEEAS User. Please don't hesitate to contact us at <strong>info@mobeeas.com</strong> if you need any assistance.
  <br><br>
  From the MOBEEAS team
</p>
