<div class="card-content">
      <span class="card-title blue-text"><i class="fa fa-check-square-o"></i> Your agreements</span>
      <table>
          <thead>
            <tr>
              <th>Agreement</th>
              <th>
              </th>
            </tr>
          </thead>
          <tbody>
            <% if @org_user_profile.user.agreement.present? %>
            <tr>
              <%# <td> %><%#= link_to Statement of Ethics, render "profiles/ethics_agreement"%><%#</td> %>
              <td><a href="#modal-ethics" class="modal-trigger">Statement of Ethics</a></td>
              <td class="right-align">
                <% if @org_user_profile.user.agreement.ethics %>
                  <span class="green-text"><i class="fa fa-check-circle"></i></span>
                <% else %>
                  <%# link is available if the current user is the actual host %>
                  <% if current_user.id == @org_user_profile.user_id %>
                    <a href="#modal-ethics" class="modal-trigger">Read and agree</a>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><a href="#modal-conduct" class="modal-trigger">Code of Conduct</a></td>
              <td class="right-align">
                <% if @org_user_profile.user.agreement.code_of_conduct %>
                  <span class="green-text"><i class="fa fa-check-circle"></i></span>
                <% else %>
                  <%# link is available if the current user is the actual host %>
                  <% if current_user.id == @org_user_profile.user_id %>
                    <a href="#modal-conduct" class="modal-trigger">Read and agree</a>
                  <% end %>
                <% end %>
              </td>
            </tr>

            <tr>
              <td><a href="#modal-terms-cond" class="modal-trigger">Terms And Conditions</a></td>
              <td class="right-align">
                <% if @org_user_profile.user.agreement.host_terms %>
                  <span class="green-text"><i class="fa fa-check-circle"></i></span>
                <% else %>
                  <%# link is available if the current user is the actual host %>
                  <% if current_user.id == @org_user_profile.user_id %>
                    <a href="#modal-terms-cond" class="modal-trigger">Read and agree</a>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
