<h5><%= Opportunity.find(params[:opp_id]).title %></h5>

<p>Save <strong><%= Profile.find(params[:profile_id]).name %></strong> as a potential candidate for this opportunity.<p>
<%= render 'form' %>
<%= link_to 'Back', opportunity_path(params[:opp_id]) %>
