<h5>Would you like to engage <%= Profile.find(params[:profile_id]).first_name %> to this opportunity?</h5>
<p>By clicking ENGAGE, you will assign a token to this candidate.</p>
<p>
  <%= link_to 'Back', opportunity_path(params[:opp_id]), class: "btn" %>
  <%= render 'form' %>
</p>
