<h5>New Engagement</h5>

<p>Invite <strong><%= Profile.find(params[:profile_id]).name %></strong> to be connected to the opportunity titled: <strong><%= Opportunity.find(params[:opp_id]).title %></strong>.<p>
<%= render 'form' %>
<%= link_to 'Back', opportunity_path(params[:opp_id]) %>
