<h1>About MOBEEAS</h1>
<div class="card ">
  <div class="card-content black-text">
    <span class="card-title blue-text text-darken-2"></span>

    <p>MOBEEAS (Managed Opportunities Between Employers, Educators and Students) was conceived to give undergraduates, academics and professionals the opportunity to share their expertise with school students and teachers in collaborative learning experiences.</p>
 	<br>
		<p>Partnerships and short-term engagements between university students, academics and industry professionals with school-based teachers and their students will help close the gap between what employers need, what teachers know, and what students can learn.</p>
 	<br>
		<p>Everyone benefits from MOBEEAS collaborative learning experiences. Get involved and give back to help move our nation forward with MOBEEAS. </p>
</p>
    <br>
    <p><a href="/">Home</a></p>
  </div>
</div>
