<h1>Admin</h1>
<div class="card">
	<div class="card-content black-text">
		<table>
			<tr>
				<th>Name</th>
				<th>Candidate type</th>
			</tr>
			<% @users.each do |user| %>
				<% if user.profile %>
					<tr>
						<td><%= link_to user.profile.name, profile_path(user.profile) %></td>
						<td><%= user.profile.candidate_type.name if user.profile.candidate_type %></td>
					</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div>

