<h4>Reports Related to <%= @engagement.profile.first_name %></h4>

<% @progress_reports = [] %>
<% @completion_reports = [] %>

<!-- Printing the list of progress reports -->
<% if @engagement.progress_report_ids.present? %>
  <p><strong> Progress Reports </strong></p>
  <% @progress_reports = @engagement.progress_report_ids %>
  <ol>
    <% @progress_reports.each do |report| %>
      <% @p_report = Report.find(report)%>
      <li><%= link_to "View Progress Report ID: "+ report.to_s, report_path(@p_report, engagement_id: params[:engagement_id]) %></li>
    <% end %>
  </ol>
<% else %>
  <p> No Progress Reports </p>
<% end %>
<br><br>
<!-- Printing the list of completion reports -->
<% if @engagement.completion_report_ids.present? %>
  <p><strong> Completion Reports </strong></p>
  <% @completion_reports = @engagement.completion_report_ids %>
  <% @completion_reports.each do |report| %>
    <%= report %>
  <% end %>
<% else %>
  <p> No Completion Reports </p>
<% end %>
<br>
<%= link_to 'View Opportunity Details', opportunity_path(@engagement.opportunity), class: 'btn' %><br><br>
