<h4>Contact <%= @user_profile.profile.first_name %></h4>
<p>
  By clicking I AGREE the details about this opportunity, including your email address, will be sent to this candidate to initiate correspondence.
  <br>
  A copy of this message will be sent to you.
</p>
<div class="row">
  <div class="col l2">
    <%= link_to "Cancel", opportunity_path(@opportunity), class: "btn" %>
  </div>
  <div class="col l2">
    <%= link_to "I Agree ", contact_candidate_for_opportunity_path(@opportunity, profile_id: @user_profile.profile.id), class: "btn" %>
  </div>
</div>
