<% if user_signed_in? %>
  <% if current_user.has_role? :host%>
    <%= render 'layouts/sidebar'%>
      <div class="row">
        <div class="col s12 m10 offset-m2 l10 offset-l2">
          <% if current_user.org_user_profile.present? %>
            <%= render template: 'org_user_profiles/show'%>
            <% if current_user.id == @org_user_profile.user_id %>
              <%= link_to 'Edit My Profile', edit_org_user_profile_path(current_user.org_user_profile)%>
            <% end %>
          <% else %> <!-- else if current_user's profile hasn't been created yet -->
            <p> Please create your profile first</p>
            <%= link_to "Create My Host Profile", new_org_user_profile_path %>
          <% end %>
        </div>
      </div>
  <% end %>
<% end %>
