<h4>Frequently Asked Questions</h4>
<div class="card ">
  <div class="card-content black-text">
    <span class="card-title blue-text text-darken-2"></span>
    <%= cl_image_tag("MOBEEAS_FAQs.png", :width => '100%') %>
  </div>
</div>
