<%# LANDING %>
<!-- <div class="parallax-container">
  <div class="parallax">
    <%#= cl_image_tag("foto-students.jpg", :width => '100%') %>
  </div>
</div> -->
  <div class="white">
    <div class="slider white-background">
      <ul class="slides" style="background-color: transparent;">
        <li>
          <%= cl_image_tag("Scienceclass.jpg", :width=>'100%') %>
        </li>
        <li>
          <%= cl_image_tag("Oldermanwithmanv2.jpg", :width=>'100%') %>
        </li>
        <li>
          <%= cl_image_tag("foto-students.jpg", :width=>'100%') %>
        </li>
        <li>
          <%= cl_image_tag("Youngmanwithgirlcroppedv2.jpg", :width=>'100%') %>
        </li>
      </ul>
    </div>
    <div class="container align-center">
      <h5>
        MOBEEAS (Managed Opportunities Between Employers, Educators and Students) was conceived to give undergraduates, academics and professionals the opportunity to share their expertise with school students and teachers in collaborative learning experiences.
        <br><br>
        Everyone benefits from MOBEEAS collaborative learning experiences.
        <br><br>
        Get involved and give back to help move our nation forward with MOBEEAS.
        <br><br>
      </h5>
    </div>
  </div>
