<!-- LANDING -->
<div class="parallax-container">
    <div class="parallax">
      <%= cl_image_tag("foto-students.jpg")%>
    </div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header align-center">Looking for opportunities to give back?</h2>

      <div class="row align-center">
        <div class="col s12 m4 l4">
          <div class="card palette1-bg">
            <div class="card-content white-text height-250px">
              <!-- <span class="card-title">Card Title</span> -->
              <p class="font-24px">
                Looking for an expert to help with your educational initiative?
                Can your organisation provide employment or work experience?
              </p>
              <p class="font-24px">(Coming soon)</p>
            </div>
            <div class="card-action">
              <%#= link_to "", new_user_registration_path %>
              <a class="waves-effect white btn margin-left-20px" href="/organisations"><span class="palette2">Register as a Host</span></a>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4">
          <div class="card palette1-bg">
            <div class="card-content white-text height-250px">
              <!-- <span class="card-title">Card Title</span> -->
              <p class="font-24px">
                Can your organisation help by becoming a Mobeeas partner, sponsoring an event or making a donation?
              </p>
              <p class="font-24px">(Coming soon)</p>
            </div>
            <div class="card-action">
              <a class="waves-effect white btn margin-left-20px" href="#"><span class="palette2">Register as a Sponsor</span></a>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4">
          <div class="card palette1-bg">
            <div class="card-content white-text height-250px">
              <!-- <span class="card-title">Card Title</span> -->
              <p class="font-24px">
                Are you a professional, an academic or a university student that would
                like to get involved as a tutor, guest speaker, consultant or judge?
              </p>
            </div>
            <div class="card-action">
              <% if user_signed_in? %>
                <% if current_user.profile.present? %>
                  <a class="waves-effect white btn margin-left-20px" href="/profiles/<%= current_user.profile.id %>"><span class="palette2">View My Profile</span></a>
                <% else %>
                  <a class="waves-effect white btn margin-left-20px" href="/profiles/new"><span class="palette2">Create My Profile</span></a>
                <% end %>
              <% else %>
                <a class="waves-effect white btn margin-left-20px" href="/users/sign_in"><span class="palette2">Register as a Candidate</span></a>
              <% end %>
            </div>
          </div>
        </div>
      </div><!-- row align-center -->
      <span class="margin-top-20px"><h5 class="align-center margin-top-40px">Register now to be among the first to hear about exciting new internships, speaking engagements or paid work at schools.</h5></span>

    </div><!-- end of row container -->
    <!-- <h4 class="grey-text text-darken-3 lighten-3"><%#= link_to '<i class="material-icons left medium">exit_to_app</i> Register now'.html_safe, new_user_registration_path %> to be among the first to hear about exciting new internships, speaking engagements or paid work at schools.</h4> -->
  </div><!-- end of section-white -->
<div class="parallax-container">
  <div class="parallax">
    <%= cl_image_tag("girls-at-school.jpg")%>
  </div>
</div>
