<!-- LANDING -->
<div class="parallax-container">
    <div class="parallax"><img src="<%= asset_path 'foto-students.jpg' %>"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Looking for opportunities to give back?</h2>
      <h4 class="grey-text text-darken-3 lighten-3"><%= link_to 'Register now', new_user_registration_path %> to be among the first to hear about exciting new internships, speaking engagements or paid work at schools.</h4>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="<%= asset_path 'kids-in-class.jpg' %>"></div>
  </div>
