<%# LANDING %>
<!-- <div class="parallax-container">
  <div class="parallax">
    <%#= cl_image_tag("foto-students.jpg", :width => '100%') %>
  </div>
</div> -->
<%# Google Universal Analytics tracking code %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76941640-1', 'auto');
  ga('send', 'pageview');

</script>


  <div class="white">
    <div class="slider white-background">
      <ul class="slides" style="background-color: transparent;">
        <li>
          <%= cl_image_tag("Scienceclass.jpg", :width=>'100%') %>
        </li>
        <li>
          <%= cl_image_tag("Oldermanwithmanv2.jpg", :width=>'100%') %>
        </li>
        <li>
          <%= cl_image_tag("foto-students.jpg", :width=>'100%') %>
        </li>
        <li>
          <%= cl_image_tag("Youngmanwithgirlcroppedv2.jpg", :width=>'100%') %>
        </li>
      </ul>
    </div>
    <div class="container align-center">
      <h4>
        Bringing educators and specialists together to inspire learners.
      </h4>
      <br>
      <h5>
        <div class="row">
          <div class="col s12 offset-l1 l10">
            Looking for a specialist to help with your educational initiative?
            <br><br>
            Can your organisation help by sponsoring an educational opportunity or making a donation?
            <br><br>
            Do you have expertise to share as an enthusiast, a professional, an academic or a tertiary student?
            <br><br>
            <div class="btn">Register Now</div>
            <br><br>
          </div>
        </div>
      </h5>
    </div>
  </div>
