<div class="row">
  <div class="col c12 m8 offset-m2 l8 offset-l2">
    <%= render 'layouts/sidebar' %>

    <% if current_user.org_user_profile.present? %>
      <%= render template: 'org_user_profiles/show'%>
      <% if current_user.id == @org_user_profile.user_id %>
        <%= link_to 'Edit My Profile', edit_org_user_profile_path(current_user.org_user_profile)%>
      <% end %>
    <% else %> <!-- else if current_user's profile hasn't been created yet -->
      <p> Please create your profile first</p>
      <%= link_to "Create Host Profile", new_profile_path %>
    <% end %>

  </div>
</div>
