<div class="row">
  <div class="col s12 m11 offset-m1 l11 offset-l1">
		<%= render 'layouts/sidebar' %>
    <h4>Create Manual Subscription Receipt</h4>
    <%= render 'subscriptions/form' %>
  </div>
</div>
