<div class="row">
  <div class="col s12 m11 offset-m1 l11 offset-l1">
    <%= render 'layouts/sidebar' %>

    <% if params[:state] == 'show_opportunities' %>
      <h4>Create New Opportunity</h4>
    <% elsif params[:state] == 'show_organisations' %>
      <h4>My Organisations Connections</h4>
    <% end %>

    <%# Search for all organisations linked to this host %>
    <%# @user = User.find(@org_user_profile.user_id)%>
    <% if current_user.organisations.present? %>
      <p>Currently you are connected with these organisations:</p>
      <%= render 'opportunities/organisations_new_opportunity' %>
    <% else %>
      <p>You are currently not linked to any organisations. Please select one of the organisations below to join as the host.</p>
    <% end %>

  </div>
  <% if params[:state] == 'show_organisations' %>
    <% if @organisations.present? %>
      <%= render template: "organisations/index" %>
    <% end %>
  <% end %>
</div>
