<div class="row">
  <div class="col c12 m12 l12">
    <%= render 'layouts/sidebar' %>
    <% if @organisations.present? %>
      <%= render template: "organisations/index" %>
    <% end %>
  </div>
</div>
