<div class="card ">
  <div class="card-content black-text">
    <span class="card-title blue-text text-darken-2">Thanks</span>

    <p class="flow-text">We'll be in touch with you shortly.</p>
    <br>w
    <p><a href="/">Return to home</a></p>
  </div>
</div>