<div class="card ">
  <div class="card-content black-text">
    <span class="card-title blue-text text-darken-2">Thank you for the purchase.</span>
    <p class="flow-text">Please view your token update in your profile page.</p>
    <br>
    <!-- <p><a href="/org_user_profiles/<%#= current_user.org_user_profile.id %>">My Profile Page</a></p> -->
    <p><a href="/dashboard_host">My Profile Page</a></p>
  </div>
</div>
