<div class="card ">
  <div class="card-content black-text">

    <h5>Thank you for taking the time to provide a reference for this MOBEEAS candidate.</h5>
    <br>
    <p><a href="/">Home</a></p>
  </div>
</div>
