<h1>Welcome to MOBEEAS!</h1>

<p>Choose your path:</p>

<p><%= link_to 'I want to find opportunities', new_profile_path %></p>

<p><%= link_to 'I want to list an opportunity', find_organisation_path %></p>