<h4>Dear <%= @user.org_user_profile.name %></h4>

<p>
  The executive of your organisation <%= @organisation.name %> has approved your application to be a Host in MOBEEAS.
  <br>
  Please login to <a href="http://mobeeas.com">MOBEEAS</a> and complete the subscription and registration details.
  <br><br>
  Thank you,<br>
  MOBEEAS Team<br>
</p>
