<%= simple_form_for(@school_year) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :level %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
