<!-- Modal Trigger -->
<a class="modal-trigger" href="#contact-candidate">Contact <%= @profile.first_name %></a>

<!-- Modal Structure -->
<div id="contact-candidate" class="modal">
  <div class="modal-content">
    <h4>Contact <%= @profile.first_name %></h4>
    <p>
      By clicking I AGREE the details about this opportunity, including your email address, will be sent to this candidate to initiate correspondence.
      A copy of this message will be sent to you.
    </p>
  </div>
  <div class="modal-footer">
    <%= link_to "I Agree ", contact_candidate_for_opportunity_path(@opportunity, profile_id: @profile.id), class: "modal-action modal-close waves-effect waves-green btn-flat" %>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
  </div>
</div><!-- End of Modal Structure -->
