<div class="row">
  <div class="col c12 m8 offset-m2 l8 offset-l2">
    <%= render 'layouts/sidebar' %>
    <h1>Editing Opportunity</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @opportunity %> 
  </div>
</div>
