<div class="row">
  <div class="col c12 m8 offset-m2 l8 offset-l2">
    <%= render 'layouts/sidebar' %>

    <h5>New Opportunity</h5>

    <% if current_user.organisations.present?%>
      <%= render 'form' %>
    <% else %>
      <p>You need to associate with at least an organisation first, please view all organisations here.</p>
    <% end %>
  </div>
</div>
