@import "materialize/components/color";
$primary-color: color("teal", "lighten-1") !default;
@import 'materialize';
@import 'form';

body {
    background: #EEE;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

@media only screen and (min-width : 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 100px;
    line-height: 100px; }
  .navbar-fixed {
    height: 100px; } }
nav {
	background-color: white;
}
nav ul a {
	color: $primary-color;
}
.parallax-container {
      height: 400px;
    }