@import "materialize/components/color";
$primary-color: color("teal", "lighten-1") !default;
@import 'materialize';
@import 'datetimepicker';
@import 'form';

body {
    background: #EEE;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

@media only screen and (min-width : 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 100px;
    line-height: 100px;
   }
  .navbar-fixed {
    height: 100px;
  }
}
nav {
	background-color: white;
}
nav ul a {
	color: $primary-color;
}


// fixed html sidebar
  header, main, footer {
    padding-left: 240px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
// end of fixed html sidebar

.parallax-container {
      height: 400px;
    }

.palette1 {
  color: #13a99e;
}

.palette1-bg {
  background-color: #13a99e;
}

.palette2 {
  color: #001731;
}

.palette2-bg {
  background-color: #001731;
}

.height-500px {
  height: 500px;
}

.height-420px {
  height: 420px;
}
.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.font-24px {
  font-size: 24px;
}

.margin-0px {
  margin: 0px;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.margin-left-10px {
  margin-left: 10px;
}

.padding-left-0px {
  padding-left: 0px;
}
.padding-right-0px {
  padding-right: 0px;
}

.card .card-action {
  color: #000000;
  margin-right: 0px;
  padding-right: 0px;
}

footer.page-footer {
  margin-top: 0px;
}

.text-underline {
  text-decoration: underline;
}

.list-style-disc {
  list-style-type: disc;
  margin-left: 1.5em; /* which should give space for the disc to show */
  list-style-position: inside; /* will put the disc inside of the li element, for debugging purposes */
}

.bold {
  font-weight: bold;
}

.card {
  margin-top: 0px;
}
.border-top {
  border-top: 1px solid #000;
}

.green-text {
  color: green;
}

.orange-text {
  color: orange;
}

.red-text {
  color: red;
}

.purple-text {
  color: purple;
}
