<div class="card">
	<div class="card-content">
		<h1>Add your qualifications</h1>
		<%= render 'form' %>
		<br>
		<p>By clicking 'Add Course', I agree to allow MOBEEAS representatives to confirm my enrolment at this educational institution.</p>
		<br>
	</div>
</div>
