<%# CREATING NEW PROGRESS OR COMPLETION REPORT %>

<%# @opportunity = Opportunity.find(params[:opportunity_id]) %>
<%# @profile = Profile.find(params[:profile_id]) %>
<%# @engagement = Engagement.find(params[:engagement_id]) %>

<div class="row">
  <div class="col s12 m12 l12">
    <div class="card">
      <div class="card-content">
        <% if params[:report_type] == 'progress' %>
          <h4 class="align-center">PROGRESS REPORT</h4>
        <% elsif params[:report_type] == 'completion' %>
          <h4 class="align-center">COMPLETION REPORT</h4>
        <% end %>
        <br>
        <%= render 'report_header'%>
        <%= render 'form' %>
      </div><%# end of card-content%>
    </div><%# end of card %>
  </div><%# end of col %>
</div><%# end of row %>
