<h1>Get involved</h1>
<div class="card ">
  <div class="card-content black-text">
    <span class="card-title blue-text text-darken-2"></span>

    <h5>GET INVOLVED</h5>

    <p>
      If you have expertise that you'd like to share with students and their teachers, register to become a <a href ="#" class="text-underline">MOBEEAS CANDIDATE</a>.
    </p>

    <p>
      Your expertise may be sought as a
      <ul>
        <li>mentor for during or out of school activites </li>
        <li>judge for school or community competitions </li>
        <li>guest speaker at a school or community event </li>
      </ul>
      or as a much need volunteer to help make sure an event runs smoothly.
    </p>
    <p>
      If you represent a  schools, tertiary institution, community organisation or a company and would like to engage someone to provide the above services, become a  <a href="#" class="text-underline">MOBEEAS HOST</a>.
      MOBEEAS CANDIDATES may be paid or engaged as volunteers. If you would like to help finance a particular project, or support all MOBEEAS engagements, become a <a href="#" class="text-underline">MOBEEAS SPONSOR</a>.
    </p>
    <%= render 'form' %>
    <%= link_to 'Back', root_path %>
	</div>
</div>
