<h1>Get involved</h1>
<div class="card ">
  <div class="card-content black-text">
    <span class="card-title blue-text text-darken-2"></span>

<%= render 'form' %>

<%= link_to 'Back', root_path %>

	</div>
</div>