<h4>Your new education profile has been approved by MOBEEAS Admin</h4>

<p>
  Hello <%= @education.user.profile.name %>,
  <br><br>
  Your new education profile has been approved by MOBEEAS Admin:
  <br>
  Institution: <%= @education.institution %>
  <br>
  Please login to <a href="http://mobeeas.com">MOBEEAS</a> to view your profile.
  <br><br>
  Regards,
  <br><br>
  MOBEEAS Team
</p>
