<h4>A candidate has added a new education for verification</h4>

<p>
  Hello Admin,
  <br><br>
  A new education record has been created by this candidate:
  <br>
  Name: <%= @education.user.profile.name %>
  <br>
  Institution: <%= @education.institution %>
  <br>
  Please login to <a href="http://mobeeas.com">Admin page</a> to verify this candidate.
  <br>

</p>
