<footer class="page-footer">
  <!-- <div class="container"> -->
    <div class="row">
      <div class="col l8 s12" style="margin-top: none;">
        <h5 class="white-text">MOBEEAS</h5>
        <p class="grey-text text-lighten-4">
          © 2017 Copyright
        </p>
      </div>
      <div class="col l4 s12">
        <p class="text-decoration-none font-30px white-text">
          <a href="https://www.facebook.com/mobeeas/" style="color: white;"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>

          <a href='http://twitter.com/@MOBEEAS' class='twitter-follow-button' title='Follow @MOBEEAS' data-lang='en' style="color: white;"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          <a href="https://www.youtube.com/channel/UCvkPulTPt-EIek43x2wykgA" style="color: white;"><i class="fa fa-youtube" aria-hidden="true"></i></a>

        </p>
      </div>



    </div>



  <!-- </div> -->
  <!-- <div class="footer-copyright"> -->
    <!-- <div class="container"> -->
    <%# <a class="grey-text text-lighten-4 right" href="#!">More Links</a> %>
    <!-- </div> -->
  <!-- </div> -->
</footer>
