<div class="row">
	<div class="col m1">
		<i class="material-icons medium">help</i>
		</div>
	<div class="col m11">
		<div class="valign-wrapper">
			<h4 class="valign">What are security checks?</h4>
		</div>
	</div>
</div>
<div class="row">
<div class="col m6">
<h5>AUSTRALIAN WORKING WITH CHILDREN and POLICE HISTORY CHECKS</h5>
<p>Any person applying for paid or voluntary child-related employment in Australia must complete a Working with Children Check and a National Police Check. In some states exemptions exist for very short-term engagements. This would apply for a visiting speaker, adjudicator, performer, assessor or other similar visitor for a one off occasion and in the presence of one or more other adults.</p>

<p><strong>The Working with Children Check and a Police Check are two different checks.</strong></p>

<p>The Working with Children Check is an ongoing assessment of a person's eligibility to work or volunteer with children and involves a check of person's national criminal history (including all spent convictions, pending and non-conviction charges) and other disciplinary and police information.</p>

<p>The Police Check is only current on the day of issue and is a list of offences from a person's criminal history that can be disclosed. It does not involve an assessment by a government agency.</p>

<p>Links are provided as a guide below. Processes and procedures may vary by state and territory and MOBEEAS mentors must complete the most current for their region and renew any certificates before their expiration.</p>
</div>
<div class="col m6">
<table class="centered bordered highlight responsive-table">
<thead>
<tr>
<th>State or Territory</th>
<th>Working with Children</th>
<th>Police Check</th>
</tr>
</thead>
<tbody>
<tr>
<td>ACT</td>
<td><a href="http://www.ors.act.gov.au/community/working_with_vulnerable_people_wwvp" target="_blank">Link</a></td>
<td><a href="http://www.afp.gov.au/what-we-do/police-checks/national-police-checks.aspx#national-police-certificates" target="_blank">Link</a></td>
</tr>
<tr>
<td>NSW</td>
<td><a href="http://www.kidsguardian.nsw.gov.au/working-with-children/working-with-children-check" target="_blank">Link</a></td>
<td><a href="https://npcoapr.police.nsw.gov.au/aspx/dataentry/Introduction.aspxhttp://www.workingwithchildren.nt.gov.au/" target="_blank">Link</a></td>
</tr>
<tr>
<td>NT</td>
<td><a href="http://www.workingwithchildren.nt.gov.au/" target="_blank">Link</a></td>
<td><a href="http://www.pfes.nt.gov.au/Police/Publications-and-forms.aspx " target="_blank">Link</a></td>
</tr>
<tr>
<td>QLD</td>
<td><a href="http://www.bluecard.qld.gov.au/education-and-care-services-and-similar-employment/index.html" target="_blank">Link</a></td>
<td><a href="https://www.police.qld.gov.au/corporatedocs/purchase/Police-Certificate-(Australia-Wide-Criminal-History).htm" target="_blank">Link</a></td>
</tr>
<tr>
<td>SA</td>
<td><a href="http://www.dcsi.sa.gov.au/services/screening" target="_blank">Link</a></td>
<td><a href="https://www.police.sa.gov.au/services-and-events/apply-for-a-police-record-check" target="_blank">Link</a></td>
</tr>
<tr>
<td>TAS</td>
<td><a href="http://www.justice.tas.gov.au/working_with_children" target="_blank">Link</a></td>
<td><a href="http://www.police.tas.gov.au/services-online/police-history-record-checks/ " target="_blank">Link</a></td>
</tr>
<tr>
<td>VIC</td>
<td><a href="http://www.workingwithchildren.vic.gov.au/" target="_blank">Link</a></td>
<td><a href="http://www.police.vic.gov.au/content.asp?Document_ID=274" target="_blank">Link</a></td>
</tr>
<tr>
<td>WA</td>
<td><a href="http://www.checkwwc.wa.gov.au/checkwwc" target="_blank">Link</a></td>
<td><a href="http://www.police.wa.gov.au/OurServices/Policecheckscertificates/NationalPoliceCertificates/tabid/1339/Default.aspx" target="_blank">Link</a></td>
</tr>
</tbody>
</table>
</div>
</div>