 
  <ul id="slide-out" class="side-nav fixed">
  	<li class="logo"><a href="/"><%= image_tag 'MOBEEAS.png', height: '122px', class: 'brand-logo responsive-img' %></a></li>
	  <% if current_user.has_role? :student %> 
	    <%= render 'layouts/student_sidebar' %>
	  <% elsif current_user.has_role? :teacher %>
	  	<%= render 'layouts/teacher_sidebar' %>
	  <% end %>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
