<div class="margin-top-50px">
<li class="bold active"><%= link_to 'Sponsor Profile', sponsor_path(current_user.sponsor) %></li>
<li class="bold"><%= link_to 'Listed Opportunities', opportunities_path(status: 'listed') %></li>
<li class="bold"><%= link_to 'Active Opportunities', opportunities_path(status: 'active') %></li>
</div>
